html {
    scroll-behavior: smooth;
}

body {
    background-color: olive;
}

.container {
    min-height: 10rem;
    max-width: 75rem;
    margin: auto;
    background-color: white;
    padding: 1rem;

}

#pageheader {
    background-color: lightgreen;
    min-height: auto;
    padding: 1rem;
}

#logo {
    width: 6.25rem;
    height: 6.25rem;
    background-color: none;
    background-image: url(Images/);
}

#pageheader .container {
    background-color: none;
    min-height: auto;
    text-align: center;
}

#media {
    background-color: rgb(138, 186, 138);
    min-height: 10rem;
    padding: 1rem;
    background-image: url(Images/bunnybackground.png);
    background-size: cover;
    aspect-ratio: 16/9;
}

#career {
    background-color: rgb(255, 98, 98);
    min-height: 10rem;
    padding: 1rem;
}

#pagecontent {
    background-color: rgb(246, 166, 7);
    min-height: 10rem;
    padding: 1rem;
}

#semester1 {
    background-color: rgb(238, 196, 48);
    min-height: 10rem;
    padding: 1rem;
}

#semester2 {
    background-color: rgb(87, 186, 248);
    min-height: 10rem;
    padding: 1rem;
}

#pagefooter {
    background-color: rgb(218, 70, 95);
    min-height: auto;
    padding: 1rem;
}

#pagefooter .container {
    text-align: center;
    min-height: auto;
}

#aifooter {
    background-color: coral;
    padding: 1rem;
    min-height: auto;
}

#aifooter .container {
    text-align: center;
    min-height: auto;
}

#subfooter {
    background-color: rgb(81, 37, 122);
    min-height: 10rem;
    padding: 1rem;
    text-align: center;
}

audio {
    display: block;
    margin: auto;
    background-color: plum;
    border: 5px solid plum;
}